<ul class="pagination">
    <li ng-class="vm.paginator.currentPage == 1 ? 'disabled' : ''">
        <a ng-if="vm.paginator.currentPage > 1"
           ui-sref="server.list({page: vm.paginator.currentPage - 1})">
            <i class="fa fa-chevron-left"></i>
        </a>
        <span ng-if="vm.paginator.currentPage == 1"><i class="fa fa-chevron-left"></i></span>
    </li>

    <li ng-repeat="n in [] | range:vm.paginator.pagesCount" ng-init="page = n + 1" ui-sref-active="active">
        <a ui-sref="server.list({page: page})">{{page}}</a>
    </li>

    <li ng-class="vm.paginator.currentPage == vm.paginator.pagesCount ? 'disabled' : ''">
        <a ng-if="vm.paginator.currentPage < vm.paginator.pagesCount"
           ui-sref="server.list({page: vm.paginator.currentPage + 1})"><i class="fa fa-chevron-right"></i></a>
        <span ng-if="vm.paginator.currentPage == vm.paginator.pagesCount"><i class="fa fa-chevron-right"></i></span>
    </li>
</ul>
