<div id="headerNavbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="create-server"><i class="fa fa-plus"></i> Add server</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Servers <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="server in servers"><a ui-sref="server.list({serverId: server.id})">{{server.name}}</a></li>
                <li ng-if="serversLength == 0">
                    <a ui-sref="create-server"><i class="fa fa-plus"></i> Add server</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
