.navbar-inverse {
    background-color: #4696e5;
    border: none;

    .navbar-nav>li>a, .navbar-brand {
        color: #d0e4f8;
    }

    .navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover {
        background-color: darken(#4696e5, 7%);
    }
}

a {
    cursor: pointer;
}
