.clear-filter {
    vertical-align: -3px;
    margin-left: 10px;
    float: none;
}

.create-short-code-btn-container {
    margin-bottom: 15px;

    @media (min-width: 768px) {
        text-align: right;
    }

    .btn {
        display: block;
        width: 100%;

        @media (min-width: 768px) {
            display: inline-block;
            width: auto;
        }
    }
}

tags-input .tags {
    .tag-item .remove-button {
        color: rgba(white, .5);
    }

    .input {
        padding-left: 16px;
    }
}
