#sidebar {
    background-color: #f7f7f7;

    @media (min-width: 768px) {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f7f7f7;
        border-right: 1px solid #eee;
    }

    .divider {
        border-bottom: 1px solid #eee;
        margin: 20px 0;
    }
}

.nav-sidebar {
    @media (min-width: 993px) {
        margin-top: 20px;
    }
    @media (max-width: 992px) {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    > .active > a, > .active > a:hover, > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }
}
