
.visit-stats-header {
    h2 {
        margin-top: 0;
    }
}

.visits-stats-container {
    margin-top: 20px;
}

.no-visits-disclaimer {
    margin-top: 30px;
    padding: 40px 20px;
    color: #aaa !important;

    h3 {
        margin: 0;
    }
}

.dates-filter-container {
    text-align: right;

    @media (max-width: 767px) {
        text-align: left;
    }

    .date {
        @media (max-width: 767px) {
            margin-bottom: 5px;
        }
    }
}
