<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" target="_blank" href="https://shlink.io"><img src="/img/shlink-logo-white.png">&nbsp;&nbsp;Shlink</a>

        </div>
        <servers-menu></servers-menu>
    </div>
</nav>
