<form class="form-horizontal" id="server-form" ng-submit="vm.saveNewServer()">
    <div class="form-group">
        <label for="name" class="col-lg-1 col-md-2 control-label">Name</label>
        <div class="col-lg-11 col-md-10">
            <input required name="name" type="text" class="form-control" id="name" placeholder="Name"
                   ng-model="vm.server.name">
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="col-lg-1 col-md-2 control-label">URL</label>
        <div class="col-lg-11 col-md-10">
            <input required name="url" type="url" class="form-control" id="url" placeholder="URL"
                   ng-model="vm.server.url">
        </div>
    </div>
    <div class="form-group">
        <label for="apiKey" class="col-lg-1 col-md-2 control-label">API key</label>
        <div class="col-lg-11 col-md-10">
            <input required name="apiKey" type="text" class="form-control" id="apiKey" placeholder="API key"
                   ng-model="vm.server.apiKey">
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
