<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Short code</th>
            <th>Original URL</th>
            <th>Visits</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="shortUrl in vm.shortUrls.data">
            <td>{{shortUrl.dateCreated}}</td>
            <td>{{shortUrl.shortCode}}</td>
            <td><a target="_blank" ng-href="{{shortUrl.originalUrl}}">{{shortUrl.originalUrl}}</a></td>
            <td>{{shortUrl.visitsCount}}</td>
            <td>
                <div class="btn-group">
                    <button class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                        <i class="fa fa-gears"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a ng-href="{{vm.currentServer.url}}/{{shortUrl.shortCode}}/preview" target="_blank">
                                <i class="fa fa-image"></i> Preview
                            </a>
                        </li>
                        <li>
                            <a ui-sref="short-code.visits({shortCode: shortUrl.shortCode})"><i class="fa fa-pie-chart"></i> Visits</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div pagination data-paginator="vm.shortUrls.pagination"></div>
