<form ng-submit="vm.createShortCode()" id="createShortCode" class="create-short-code-form">
    <label for="url">Insert a URL</label>
    <div class="input-group input-group-lg">
        <input id="url" type="text" class="form-control" placeholder="URL" required name="url" ng-model="vm.url">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-disabled="vm.creating">
                {{vm.creating ? 'Saving...' : 'Save'}}
            </button>
        </span>
    </div>

    <div class="alert alert-info alert-dismissable" ng-if="vm.resp.isSuccess">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <b>Great!</b> The short URL is <b>{{vm.shortUrl}}</b>
    </div>
    <div class="alert alert-danger alert-dismissable" ng-if="vm.resp.isError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <b>Oops!</b> {{vm.resp.message}}
    </div>
</form>
